* {
    box-sizing: border-box;
}
.weeks-cont,
.box-cont {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    padding: 50px;
    top: 10%;
}
.box-cont {
    height: 350px;
    width: 350px;
    border: 10px solid white;
    margin-top: 80px;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}
button {
    display: block;
    padding: 10px;
    width: 150px;
    margin: 20px;
}
button:hover {
    padding: 20px;
    width: 170px;
    transition: 0.5s;
}